/* WelcomePage.css */
.banner {
    background-color: #dee1e1; /* Adjust to a suitable background color based on logo palette */
    padding: 20px;
    /*border-bottom: 3px solid #ced6e0; /* Accent color from the logo */
  }
  
  
  .banner-text {
    flex: 1;
  }
  
  .marketplace-name {
    font-size: 2rem;
    font-weight: bold;
    color: #3c6382; /* Dark color for text */
  }
  
  .marketplace-slogan {
    font-size: 1.25rem;
    color: #3c6382; /* Softer secondary color */
  }
  
  .carousel-container {
    width: 80%;
    margin-left: 10%;
    
  }
  
 
  .cta-button {
    background-color: #007bff; /* A button color from the logo's palette */
    border-color: #007bff;
    padding: 10px 30px;
    font-size: 1.2rem;
  }
  .cta-button:hover {
    background-color: #60a3bc; /* Replace with your desired color */
    border-color: #60a3bc;
    color: white; /* Ensuring text remains visible */
}
.cta-button2 {
    background-color: #60a3bc; /* Replace with your desired color */
    border-color: #60a3bc;
    padding: 10px 20px;
    font-size: 1.2rem;
    margin-right: 20px;
    margin-top: 20px;
  }
  .cta-button2:hover {
    background-color: #60a3bc; /* Replace with your desired color */
    border-color: #60a3bc;
    color: white; /* Ensuring text remains visible */
}
.categories-slogan {
    font-size: 1.5rem; /* Adjust font size as needed */
    color: #343a40; /* Dark text for readability */
}
.categories-title {
    margin-top: 80px; /* Adjust this value to control how far down it drops */
    size: 100px;
}

