/* Exemple de styles responsives */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  /* Exemple de règle responsive pour la navbar */
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  }
  
  /* Exemple de règles de mise en page pour les petits écrans */
  @media (max-width: 576px) {
    .container {
      padding: 10px;
    }
    .card {
      margin: 10px 0;
    }
  }
  